body {
   font-family: Arial, sans-serif;
   text-align: center;
   margin-top: 50px;
}

#mi-boton {
   padding: 10px 20px;
   background: #007bff;
   color: white;
   border: none;
   cursor: pointer;
}

footer {
   margin-top: 100px;
   color: #666
}